@use "sass:meta";

:global(html[data-theme="dark"]) {
  @include meta.load-css("./theme/dark.css");
}
:global(html[data-theme="light"]) {
  @include meta.load-css("./theme/light.css");
}

$primaryBackground: var(--primaryBackground);
$primaryForeground: var(--primaryForeground);

$emphasisForeground: var(--emphasisForeground);

$secondaryBackground: var(--secondaryBackground);
$secondaryForeground: $emphasisForeground;

$darkerBackground: var(--darkerBackground);
$darkerForeground: $primaryForeground;

$evenDarkerBackground: var(--evenDarkerBackground);
$evenDarkerForeground: $primaryForeground;

$navbarBackground: var(--navbarBackground);
$navbarBackgroundOpaque: $primaryBackground;

$fadedForeground: var(--fadedForeground);
$disabledForeground: var(--disabledForeground);

$codeBackground: var(--codeBackground);
$codeForeground: $emphasisForeground;

// Admonitions
$colors: (
  "warning": (
    "background": #ef9f15,
    "foreground": $primaryBackground
  ),
  "error": (
    "background": #c91d1a,
    "foreground": $emphasisForeground 
  ),
  "success": (
    "background": #36aa2e,
    "foreground": $emphasisForeground
  ),
  "example": (
    "background": #911ac9,
    "foreground": $emphasisForeground
  ),
  "info": (
    "background": #1a7dc9,
    "foreground": $emphasisForeground
  )
)