$primaryBackground: #282528;
$primaryForeground:#F0F8FF;
$secondaryBackground: #3b373b;
$secondaryForeground:#F0F8FF;

$darkerBackground: #222022;
$darkerForeground:#F0F8FF;

$navbarBackground: #282528b9;
$navbarBackgroundOpaque: #282528e5;

$fadedForeground: rgb(185, 184, 184);

$codeBackground: #222022;
$codeForeground: #F0F8FF;