$primaryBackground: #282528;
$primaryForeground:#cfd3d6;

$emphasisForeground:#F0F8FF;

$secondaryBackground: #3b373b;
$secondaryForeground: $emphasisForeground;

$darkerBackground: #222022;
$darkerForeground: $primaryForeground;

$evenDarkerBackground: #1e1d1e;
$evenDarkerForeground: $primaryForeground;


$navbarBackground: #282528b9;
$navbarBackgroundOpaque: #282528e5;

$fadedForeground: #9b9fa3;
$disabledForeground: #505458;

$codeBackground: #222022;
$codeForeground: $emphasisForeground;

// Admonitions
$colors: (
  "warning": (
    "background": #ef9f15,
    "foreground": $primaryBackground
  ),
  "error": (
    "background": #c91d1a,
    "foreground": $emphasisForeground 
  ),
  "success": (
    "background": #36aa2e,
    "foreground": $emphasisForeground
  ),
  "example": (
    "background": #911ac9,
    "foreground": $emphasisForeground
  ),
  "info": (
    "background": #1a7dc9,
    "foreground": $emphasisForeground
  )
)