$gapSmaller: 1em;
$gapSmall: 2em;
$gap: 4em;

/* Boxes */
$paddingSmaller: .5em;
$paddingSmall: 1em;
$padding: 2em;
$paddingLarge: 5em;
$paddingLarger: 10em;

$borderWidth: .2em;
$borderWidthSmall: .1em;

$borderRadiusSmall: .5em;
$borderRadius: 1em;

/* Timing */
$animationSpeed: .25s;
$animationSpeedSlow: .5s;
$animationSpeedFast: .2s;

/* Specific */
$welcomeHeight: 30em;
$contactHeight: 10em;

/* Font */
$fontSizeTitle: 4rem;
$fontSizeTitleSmall: 2.5rem;
$fontSize: 1.5rem;
$fontSizeSmall: 1.2rem;

/* Navbar */
$navbarHeight: 3em;