:global(body) {
  --primaryBackground: hsl(220, 10%, 98%);
  --primaryForeground: hsl(220, 5%, 20%);
  --emphasisForeground: hsl(0, 0%, 5%);
  --secondaryBackground: hsl(220, 10%, 90%); 
  --darkerBackground: hsl(220, 10%, 95%);
  --evenDarkerBackground: var(--darkerBackground);
  --navbarBackground: hsla(220, 10%, 98%, 0.725);
  --fadedForeground: hsl(220, 2%, 50%);
  --disabledForeground: hsl(220, 2%, 80%);
  --codeBackground: var(--darkerBackground);
}